.title {
  display: flex;
  margin-top: 6rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  font-size: 40px;
  font-weight: 800;
  flex-basis: 100%;
}

.cards {
  display: flex;
  gap: 1.05rem;
  justify-content: flex-start;
  width: 70rem;
  flex-wrap: wrap;
  margin: 4rem auto;
}
