.title {
  display: flex;
  margin-bottom: 1.8rem;
  flex-wrap: wrap;
  font-size: 40px;
  font-weight: 800;
  flex-basis: 100%;
  margin-top: 2rem;
}

.todosOsDireitos {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon {
  margin-top: 3rem;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.icons {
  display: flex;
  gap: 0.45rem;
}

.icon2 {
  margin-top: 3rem;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.bar {
  margin-top: 4rem;
  padding-top: 0.2rem;
  padding-bottom: 2rem;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  margin-bottom: 2rem;
}
