.AboutMeSection {
  margin-top: 6.1rem;
  display: flex;
  min-width: 0;
}

.bioTitle {
  font-size: 40px;
  font-weight: 800;
  padding-left: 21.5rem;
  flex: 1;
}

.bioText {
  top: 0px;
  left: 281px;
  line-height: 30px;
  display: inline-block;
  max-width: 50rem;
  padding-right: 21.5rem;
  flex: 2;
}
