.bannerSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  position: relative;
  font-size: 15px;
  font-family: Poppins;
  color: var(--purple);
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.56rem;
}

.welcome {
  position: relative;
  font-size: 48px;
  font-weight: 800;
  font-family: Inter;
  color: #fff;
  text-align: left;
  margin-right: 7.8rem;
  margin-bottom: 1.44rem;
}

.bio {
  position: relative;
  font-size: 16px;
  line-height: 30px;
  font-family: Inter;
  color: #fff;
  text-align: left;
  margin-bottom: 3rem;
}

.button {
  border-radius: 0.75rem;
  border: 1px solid #000;
  background: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 2.4rem;
}
